@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
:root{
    --color-primary: #b88e2f;
    --color-Font-Color: #333333;
    --color-Font-Color1: #666666;
    --color-Gray-1: #3A3A3A;
    --color-Gray-2: #616161;
    --color-Gray-3: #898989;
    --font-poppins: "Poppins", "sans-serif";
}
@theme {
  --color-primary: var(--color-primary);
    --color-Font-Color: var(--color-Font-Color);
    --color-Font-Color1: var(--color-Font-Color1);
    --color-Gray-1: var(--color-Gray-1);
    --color-Gray-2: var(--color-Gray-2);
    --color-Gray-3: var(--color-Gray-3);
    --font-poppins: var(--font-poppins);
}
@layer base {
  html {
    font-size: 16px;
  }
  body {
    font-family: var(--font-poppins);
    background-color: #f5f5f5;
    color: var(--color-Font-Color);
  }
    .slick-prev{
        @apply !-left-2
    }
    .slick-prev:before{
        @apply !text-primary lg:hidden;
    }
    .slick-next{
        @apply !-right-2
    }
    .slick-next:before{
        @apply !text-primary lg:hidden;
    }
}
@layer components {
    .heading2{
        @apply lg:text-[32px] font-bold text-[24px] leading-[40px] lg:leading-[48px] ;
    }
    .heading4{
        @apply lg:text-2xl font-semibold text-[20px] leading-[32px] lg:leading-[40px];
    }
}